<!DOCTYPE html>
<html ng-app="d3">
<head>
	<title>d3.JS</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.min.js"></script>
</head>
<body ng-controller="mainCtrl">
<button ng-click="changer()" id="button">More Data</button>
<button ng-click="transition()" id="button">Transition</button>
<h4>Number of Data points = {{data.length}}</h4>
<div class="bars"></div>


<script type="text/javascript" src="./app.js"></script>
<script type="text/javascript" src="./mainCtrl.js"></script>
<script type="text/javascript" src="./mainServ.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.3.0/d3.min.js"></script>


</body>
</html>